@import "tailwindcss";
@import "tw-animate-css";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  /* 글꼴 렌더링을 부드럽게 만듦 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
}

:root {
  /* 라이트 모드 변수 */
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  /* 다크 모드 변수 */
  --sidebar: hsl(240 5.9% 10%);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

/* 스크롤바 넓이지정 */
::-webkit-scrollbar {
  width: 8px;
}
/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}
/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #0000001c;
  border-radius: 5px;
}
/* 스크롤바 손잡이 호버 색 */
::-webkit-scrollbar-thumb::hover {
  background: #111;
}
